In [1]:
#Q1 
lis = []
nom = int(input('number of entries: '))
for n in range(nom):
    numbers = int(input('Enter number '))
    lis.append(numbers)
print("your total is :", sum(lis))

number of entries: 1
Enter number 1
your total is : 1

In [2]:
#Q2


# plus
def add(x, y):
    return x + y

# manus 
def subtract(x, y):
    return x - y

# times
def multiply(x, y):
    return x * y

# over
def divide(x, y):
    return x / y

print("I'm so good at math try me")
print("I can do anything listed here")
print("1.Adding")
print("2.Subtracting")
print("3.Multiplying")
print("4.Divideing")

while True:
    
    choice = input("please input an option 1, 2, 3 or 4: ")

    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Your first number is: "))
        num2 = float(input("And your second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        next_calculation = input("Do you need more? yes or no: ")
        if next_calculation == "no":
          break
    
    else:
        print("only numbers please")

I'm so good at math try me
I can do anything listed here
1.Adding
2.Subtracting
3.Multiplying
4.Divideing
please input an option 1, 2, 3 or 4: 1
Your first number is: 1
And your second number: 1
1.0 + 1.0 = 2.0
Do you need more? yes or no: no

In [3]:
#Q3
#to define min
def minimum(x):
    x = sorted(x)
    return x[0]

print ("the smallest number is:")
print(minimum([5,8,4,9,6,7,10,15,12 ]))
#index
y = [5,8,4,9,6,7,10,15,12 ]
index = y.index(4)

print ("And the index is:")
print(index)

SyntaxError: invalid syntax (1292469021.py, line 12)

In [13]:
#Q4 
#1
import pandas as pd

car_df=pd.read_csv("cardata.csv")
car_df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [19]:
car_df.shape
print("number of rows : ", car_df.shape[0])
print("number of columns : ", car_df.shape[1])

#2
car_df.describe()

number of rows :  11914
number of columns :  16

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [20]:
diamonds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [ ]:
#3